<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>

    
    
    
    
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |attribute| %>


      <dt class="attribute-label" id="<%= attribute.name %>">
      
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>">
        
        <span style="float:right;display:block;">
        <% if attribute.name.titleize == "Fitness Tests" %>  
          <%= link_to("Add Fitness Test",
          new_admin_fitness_test_path(user_id: page.resource.id), class: "button")  %>
        <% end %>

        <% if attribute.name.titleize == "Targets" %>  
          <%= link_to("Add Target",
          new_admin_target_path(user_id: page.resource.id), class: "button")  %>
        <% end %>

        <% if attribute.name.titleize == "Current Workouts" %>  
          <%= link_to("Add Workout",
          new_admin_workout_path(user_id: page.resource.id), class: "button")  %>
        <% end %>

        <% if attribute.name.titleize == "Strength Workouts" %>  
          <%= link_to("Add Strength",
          new_admin_strength_workout_path(user_id: page.resource.id), class: "button")  %>
        <% end %>
      </span>


        <%= render_field attribute %>
          
      </dd>
    <% end %>
  </dl>
</section>
